.nav {
  position: fixed;
  z-index: 1000;
  width: 100%;
  background-color: #343a40;
  box-shadow: 5px 5px 25px 0 rgba(46,61,73,.2);
  height: 3rem;
}
.nav .menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: stretch;
  margin: 0 auto;
}
.nav a, .nav span {
  font-size: 1rem;
  color: white;
  margin-left: 1rem;
}
.nav .title img {
  width: 3rem;
}
.nav .auth, .nav .title {
  display: flex;
  align-items: center;
}
.nav .auth a:hover {
  color: #f97e7e;
}
.nav .auth img {
  border-radius: 2rem;
  width: 2rem;
}
