@media only screen and ( max-width: 1200px) {
  .container {
    max-width: 100%;
    padding: 0 1rem;
  }
  .layout .logo {
    width: 20rem;
  }
}
@media only screen and ( max-width: 900px) {
  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.2rem;
  }
}
@media only screen and ( max-width: 600px) {
  .nav {
    height: 6rem;
  }
  .layout .logo {
    width: 10rem;
  }
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1rem;
  }
  .nav .menu {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .submenu {
    top: 6rem;
  }
  .submenu span button span {
    display: none;
  }
  .submenu span button i {
    margin-right: 0;
  }
  .dashboard .createsurveyitem, .dashboard .campaigncontent, .campaigndetail, .campaignLink {
    top: 10rem;
  }
}
@media only screen and ( max-width: 550px) {
  .auth {
    width: 20rem;
  }
  .dashboard .createsurveyitem i,
  .dashboard .createsurveyitem .content,
  .dashboard .campaigncontent .content,
  .dashboard .campaigncontent .leftdata {
    padding: 0 2rem;
  }
  .campaigndetail .content,
  .campaigndetail .leftdata {
    padding: 2rem;
  }
}
@media only screen and ( max-width: 450px) {
  .createsurveyform h2 {
    text-align: center;
  }
  .createsurveyform form a {
    display: none;
  }
  .createsurveyform form button {
    top: 3rem;
    margin: 1rem;
    position: relative;
    width: 80%;
  }
  .campaigndetail .leftdata, .campaigncontent .leftdata, .responsivenone {
    display: none;
  }
}
/* Iphone 5 responsive */
@media only screen and ( max-width: 320px) {
  .auth {
    width: 18rem;
  }
}
