/* General */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}
h1 {
  font-size: 3rem;
  font-weight: bold;
}
h2 {
  font-size: 1.5rem;
}
/* Footer */
footer {
  z-index: 500;
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #343a40;
  height: 3rem;
}
footer p {
  text-align: center;
  color: white;
}
